<head>
  <style>
    body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  </style>
</head>

<h1>Our Vacuums</h1>


<% @vacuums.each do |vacuum|%>
<h2> <%= link_to vacuum.name, vacuum_path(vacuum) %> </h2>
Rental Price: <%= vacuum.rental_price %> <br>
Purchase Price: <%= vacuum.purchase_price %> <br>
Rental Stock: <%= vacuum.rental_stock %> <br>
Purchase Stock: <%= vacuum.purchase_stock %>
<% end %>

<center>
  <h3> Don't see vacuum you want? Add it to our wishlist </h3>
</center>
<p><a class="btn btn-success btn-lg col-md-offset-5" href="/vacuums/new" role="button">Add A Vacuum &raquo;</a></p>
