<head>
  <style>
    body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  </style>
</head>

<br><br><br><br><br>

<div class="container" align="center">
  <div class="align-middle">

    <h1>
      <%= @vacuum.name %>
      <% if @user.is_admin %>
        <a class="btn btn-success btn-sm" href= "/vacuums/<%= @vacuum.id %>/edit" role="button">Edit &raquo;</a>
      <% end %>
    </h1>

    <br>

    <h3>
    Rental Price: $<%= @vacuum.rental_price %> <br><br>
    Purchase Price: $<%= @vacuum.purchase_price %> <br><br>
    Rental Stock: <%= @vacuum.rental_stock %> <br><br>
    Purchase Stock: <%= @vacuum.purchase_stock %> <br><br>
    </h3>

    <% if !session[:user_id].nil? && @vacuum.purchase_stock > 0 %>
      <%= form_tag "/users/#{session[:user_id]}/cart" do%>
        <%= hidden_field_tag 'vacuum_id', @vacuum.id %>
        <%= button_tag type: 'submit', class: 'btn btn-lg btn-success' do %>
          <span class='glyphicon glyphicon-shopping-cart'></span> Add to Cart
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
